extends A-layout

block content
    .main_content3
        a(href='admin')
            button Back
        br
        br
        each Value in advises
            table.center
                tr
                    th Name
                    th Value
                tr
                    td id
                    td #{Value._id}
                tr
                    td email
                    td #{Value.eMail}
                tr
                    td Issues
                    td #{Value.content}
            br
            br