extends A-layout

block content
    a(href='admin')
        button Back

    each Value in advises
        h4 ----------------------
        div id:#{Value._id}
        div email: #{Value.eMail}
        div content: #{Value.content}
        h4 ----------------------