extends A-layout

block content
    br
    br
    .main_content1
        ul
            li
                h2 Get All Patients

                form(method = 'get', action = '/admin/get-SingleDate')
                    button(type = 'submit') PATIENT
            br
            br
            li
                h2 Get Overview Data
                form(method = 'get', action = '/admin/get-dataTotal')
                    button(type = 'submit') OVERVIEW DATA
            br
            br
            li
                h2 Get All Messages
                form(method = 'get',action = '/admin/get-Advises')
                    button(type = 'submit') MESSAGES
            br
            br

