doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/admin.css')
    body
        h1
        #content.wrapper

            .header
                span.slide
                    a(href='#', onclick='openSlideMenu()')
                        i.fas.fa-bars
                h2 Admin System

            #menu.sidebar
                a.close(href='#', onclick='closeSlideMenu()')
                    i.fas.fa-times

                a(href='/admin/loadData')
                    i.fas.sync-alt
                    |    Load Data

                a(href='/admin/singleTable')
                    i.fas.fa-table
                    |   Submit Patient Info

                a(href='/admin/totalTable')
                    i.fas.fa-table
                    |   Submit Overview Data





            block content

