extends H-layout

block content
    .main_content
        .insert
            form(method='post',action='/insertAdvise')
                h2 Leave Messages and Ask for Doctor's Advise and Help
                div.form-group(class = 'Description')
                    label(for='content') Description:
                    textarea#content.form-control(type='text',name='content',placeholder="Leave your issues, please",required= true)
                br
                br

                div.form-group(class = 'eMail')
                    label(for='eMail') Email:
                    input#eMail.form-control(type='text',name='eMail',placeholder="xxx@xxx.com",required=true)
                button(type='submit') Submit
        h2 We will respond you in a few days.
