extends H-layout

block content
    .box

    section.mainbox
        .column
            .panel.bar
                h2
                | Bar Graph
                #barchart_values(style='width: 900px; height: 300px;')
                .chart
                .panel-footer
            .panel.line
                h2
                | Line Graph
                .chart
                .panel-footer
            .panel.pie
                h2
                |   Pie Graph
                .chart
                .panel-footer


