extends H-layout

block content
<<<<<<< HEAD
=======
    .box
    section.mainbox
        .column
            .panel.bar
                h2
                | Bar Graph
                .chart
                    #barchart_values(style='width: 900px; height: 300px;')
                .panel-footer
            .panel.line
                h2
                | Line Graph
                .chart
                .panel-footer
            .panel.pie
                h2
                |   Pie Graph
                .chart
                .panel-footer


>>>>>>> 294cba528a6197f937b28f118eef3304c872cffd
