extends H-layout

block content
        .main_content
            h2 Cov-19 Information website founded by:
                h2 Yichao Yao
                h2 Keyue Huang
                h2 Xuelun Wang
                h2 Haocong Chen
                br
                br