
extends H-layout

block content
        .contact_content
            h2 Cov-19 Information website founded by:
            .team_content
<<<<<<< HEAD
                .member1
                    .team
                        .profile
                            img(src="../images/WechatIMG168.jpeg")
                        .content
                            h3.name Yichao Yao
                            h4.email yichaoy@student.unimelb.edu.au
                .member2
                    .team
                        .profile
                            img(src = '../images/1.png')
                        .content
                            h3.name Keyue Huang
                            h4.email keyueh@student.unimelb.edu.au
                .member3
                    .team
                        .profile
                            img(src='../images/WechatIMG12.jpeg')
                        .content
                            h3.name Xuelun Wang
                            h4.email xuelunw@student.unimelb.edu.au
                .member4
                    .team
                        .profile
                            img(src='../images/WechatIMG11.jpeg')
                        .content
                            h3.name Haocong Chen
                            h4.email haocongc@student.unimelb.edu.au
=======
              .member1
                .team
                  .profile
                    img(src="../public/images/WechatIMG168.jpeg")
                  .content
                    h3.name Yichao Yao
                    h4.email yichaoy@student.unimelb.edu.au 
              .member2
                .team
                  .profile
                    img(src='../public/images/WechatIMG166.jpeg')
                  .content
                    h3.name Keyue Huang
                    h4.email keyueh@student.unimelb.edu.au 
              .member3
                .team
                  .profile
                    img(src='../public/images/WechatIMG12.jpeg')
                  .content
                    h3.name Xuelun Wang
                    h4.email xuelunw@student.unimelb.edu.au 
              .member4
                .team
                  .profile
                    img(src='../public/images/WechatIMG11.jpeg')
                  .content
                    h3.name Haocong Chen
                    h4.email haocongc@student.unimelb.edu.au 
              
>>>>>>> 9f5015c7da1731a592ad5006e8229fdf33fe5343
