extends H-layout

block content
        .main_content
            h2 Cov-19 Information website founded by:
                h3 Yichao Yao
                h3 Keyue Huang
                h3 Xuelun Wang
                h3 Haocong Chen
                br
                br
