extends H-layout

block content
    .main_content4
        h1  Coronavirus (COVID-19) Prevention &amp; Health Tips
        br
        ul
            li.secretLi
                b A
                | bout COVID-19
            table
                tr
                    td
                        img(src='../images/ht1.jpg', width='300')
                    td
                        | COVID-19 is caused by a coronavirus called SARS-CoV-2. Older adults and people who have severe underlying medical conditions like heart or lung disease or diabetes seem to be at higher risk for developing more serious complications from COVID-19 illness. Common symptoms include fever, cough, fatigue, shortness of breath, and loss of smell and taste.
            br
            li.secretLi
                b P
                | otential Medications
            table
                tr
                    td
                        img(src='../images/ht2.jpg', width='300')
                    td
                        | There is no exact treatment for COVID-19. Here are medications that are currently being investigated as potential treatments for COVID-19.
                br
                table
                    tr
                        th Potential Treatments
                    tr
                        td
                            ol
                                li
                                    em
                                        b Remdesivir:
                                        |  Decreases SARS-CoV-2 viral replicationd.
                                li
                                    em
                                        b Convalescent Plasma&#xFF1A;
                                        | Liquid part of the blood that contains antibodies from recent illness.
                                        br
                                        |   Successfully used to fight SARS, Ebola and H1N1
                                li
                                    em
                                        b Sarilumab, Tocilizumab:
                                        |  Human monoclonal antibody against the interleukin-6 receptor to treat rheumatoid arthritis.
                                        br
                                        |  Works to inhibit the cytokine storm caused by COVID-19.
                                li
                                    em
                                        b Chloroquine:
                                        |  Prevents and treats malaria&#xFF0C;can treat a liver infection called extraintestinal amebiasis
                                li
                                    em
                                        b Hydroxychloroquine:
                                        |  Prevents and treats malaria, can treat lupus and rheumatoid arthritis.
                                        br
                                        |  However, clinical trials do not show it effectively prevents or treats COVID-19.
                                li
                                    em
                                        b Vitamin C:
                                        | No evidence that vitamin C prevents or treats COVID-19. Taking more than 2000 mg
                                        br
                                        |  per day of Vitamin C is not recommended &mdash; may cause diarrhea, nausea and abdominal pain
                                li
                                    em
                                        b COVID-19 Vaccine:
                                        | A vaccine injects parts of a virus into the cells near the injection site.
                                        br
                                        |  The immune system recognizes those foreign cells and makes antibodies to fight and stop the virus from spreading.
                                        br
                                        |   Currently, there is no vaccine for COVID-19. Vaccines can take years to create, but genetic engineering is being used
                                        br
                                        |  to help create a vaccine for COVID-19 as quickly as possible.
            br
            li.secretLi
                b P
                | revention Tips
            table
                tr
                    td
                        img(src='../images/ht3.jpeg', width='300')
                    td
                        | The COVID-19 is an infectious disease similar to the cold. It travels in droplets when you cough and sneeze, and in other body fluids. Personal hygiene and wearing mask are the best preventions.
            br
            table
                tr
                    td
                        b Hygiene:
                        |   Wash your hands often, for at least 20 seconds, with soap and water or an alcohol-based hand rub.
                        |  Avoid touching your eyes, nose, or mouth with unwashed hands
                        |  Avoid close contact with people who are sick.
            td
                img(style="margin: 10px 30px 10px 400px; border: 0; padding: 0; display: block;" src='../images/ht4.jpg', width='500')
            br
            table
                tr
                    td
                        b How to wear masks:
                        |  The disposable surgical mask is usually worn by sick people to protect others from cough, sneeze and other body fluid droplets. Surgical masks should be thrown away each day or after each visit to health care providers. Wear a cloth mask when going out in public during social distancing, to protect yourself and others from asymptomatic carriers.
            td
                img(style="margin: 10px 30px 10px 400px; border: 0; padding: 0; display: block;" src='../images/ht5.jpg' width='500')
                br
                img(style="margin: 10px 30px 10px 400px; border: 0; padding: 0; display: block;" src='../images/ht6.jpg', width='500')