extends H-layout

block content
            script(src="../controller/totalCaseController")
            .main_content
                .table
                    each value in overview
                        div 1: #{value.Accumulate_Confirmed_Cases}
                        div 2: #{value.Accumulate_Deaths}
                        div 3: #{value.Current_Existing_Cases}
                        div 4: #{value.Accumulate_Cured_Cases}
                br
                br
                .map
                    div
                        filedset
                            .mapdiv

                br