extends H-layout

block content
            script(src="../controller/totalCaseController")
            .main_content
                .table
                    each value in overview
                        table.center
                            tr
                                th Accumulate Confirmed Cases
                                th Accumulate Deaths
                                th Current Existing Cases
                                th Accumulate Cured Cases
                            tr
                                td #{value.Accumulate_Confirmed_Cases}
                                td #{value.Accumulate_Deaths}
                                td #{value.Current_Existing_Cases}
                                td #{value.Accumulate_Cured_Cases}
                       
                br
                br
                .map
                    div
                        filedset
                            .mapdiv

                br