extends H-layout

block content
            .main_content
                .table
                    form(method='get',action='/Home#')
                        fieldset
                            legend Case Overview
                                table.center
                                    tr
                                        th Accumulate Confirmed Cases
                                        th Exist Confirmed Cases
                                        th Deaths
                                        th Cured Cases
                                    tr

                                        td #{Accumulate_Confirmed_Cases}
                                        td #{Current_Existing_Cases}
                                        td #{Accumulate_Deaths}
                                        td #{Accumulate_Cured_Cases}
                br
                br
                .map
                    div
                        filedset
                            .mapdiv

                br