doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-cale=1')
    link(rel='stylesheet', type='text/css', href='/stylesheets/homepage.css')
    title Team Ultra Protection
    script(src= 'https://kit.fontawesome.com/d821761733.js', crossorigin='anonymous')
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(language="javascript", type='text/javascript', src = '/javascripts/myChart.js')
    script.
      function openSlideMenu() {
        document.getElementById('menu').style.width = '200px';
        document.getElementById('content').style.marginLeft = '200px';
      }
      function closeSlideMenu() {
        document.getElementById('menu').style.width = '0';
        document.getElementById('content').style.marginLeft = '0';
      }




  body
    #content.wrapper

      .header
        span.slide
          a(href='#', onclick='openSlideMenu()')
            i.fas.fa-bars
        h2 Team Ultra Protection

      #menu.sidebar
        a.close(href='#', onclick='closeSlideMenu()')
          i.fas.fa-times

        a(href='/')
          i.fas.fa-home
          |   Home

        a(href='/charts')
          i.fas.fa-chart-line
          |   Charts

        a(href='/healthTips')
          i.fas.fa-file-medical
          |    Health Tips

        a(href='/advises')
          i.fas.fa-comment-medical
          |   Ask For Advise

        a(href='/login')
          i.fas.fa-user
          |   Admin System

        a(href='/contact')
          i.fas.fa-id-card
          |   Contact Us

        .social_media
          a(href='#')
            i.fab.fa-facebook-square
          a(href='#')
            i.fab.fa-twitter-square
          a(href='#')
            i.fab.fa-instagram
      block content
