doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-cale=1')
    link(rel='stylesheet', type='text/css', href='/stylesheets/homepage.css')
    title Team Ultra Protection
    script(src= 'https://kit.fontawesome.com/d821761733.js', crossorigin='anonymous')
    script(src = '../controller/myChart.js')
    script.
      function openSlideMenu() {
        document.getElementById('menu').style.width = '200px';
        document.getElementById('content').style.marginLeft = '200px';
      }
      function closeSlideMenu() {
        document.getElementById('menu').style.width = '0';
        document.getElementById('content').style.marginLeft = '0';
      }
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript').
      google.charts.load("current", {packages: ["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Element", "NumOfCases", {role: "style"}],
          ["0-25", 80, "#F92C00"],
          ["26-50", 170, "#EA6A06"],
          ["51-75", 320, "#FCF402"],
          ["Over 75", 160, "#7BFC02"]
        ]);
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
          {
            calc: "stringify",
            sourceColumn: 1,
            type: "string",
            role: "annotation"
          },
          2]);
        var options = {
          title: "The Number of different group of age people caught COVID-19",
          width: 600,
          height: 400,
          bar: {groupWidth: "95%"},
          legend: {position: "none"},
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
        chart.draw(view, options);
      }

  body
    #content.wrapper

      .header
        span.slide
          a(href='#', onclick='openSlideMenu()')
            i.fas.fa-bars
        h2 Team Ultra Protection

      #menu.sidebar
        a.close(href='#', onclick='closeSlideMenu()')
          i.fas.fa-times

        a(href='/')
          i.fas.fa-home
          |   Home

        a(href='/charts')
          i.fas.fa-chart-line
          |   Charts

        a(href='/healthTips')
          i.fas.fa-file-medical
          |    Health Tips

        a(href='/advises')
          i.fas.fa-comment-medical
          |   Ask For Advise

        a(href='/log')
          i.fas.fa-user
          |   Login

        a(href='/contact')
          i.fas.fa-id-card
          |   Contact Us

        .social_media
          a(href='#')
            i.fab.fa-facebook-square
          a(href='#')
            i.fab.fa-twitter-square
          a(href='#')
            i.fab.fa-instagram
      block content
