doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheet/homepage.css')
    body
        h1 Cov-19 Information website founded by:
        h2 Yichao Yao
        h2 Keyue Huang
        h2 Xuelun Wang
        h2 Haocong Chen

    form(method='POST' action="/log")
        button Login
