doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/loginPage.css')
        meta(http-equiv='Cache-Control', content='no-transform')
        meta(http-equiv='Cache-Control', content='no-siteapp')
        meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=yes')
        style(type='text/css').
            @media (max-width: 960px) {
            }

    body
        .login
            h1 Welcome To The Admin System
            h2 Please Login

            form(method='POST' action="/users/login")
                div
                    label User Name:
                    input(type='text', placeholder='Enter username' name='username')
                div
                    label Password:
                    input(type='text', name='password',
                            placeholder='Enter password')
                br
                button(type='submit') Login


            h3 #{error}