doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheet/loginPage.css')
  body

  .content
    #formContent
    h1 Welcome To The Admin System
    h2 Please Login

    form(method='POST' action="/users/login")
        input#login(type='text', name='login', placeholder='Username')
        input#password(type='text', name='login', placeholder='Password')
        input(type='submit', value='Log In')
