body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h2{margin:40px 30px;
  padding-bottom:0px;
  width:180px;
  color:#B0C4DE;
  border-bottom:3px solid #B0C4DE;
}
.main_content2
{width:400px;
  height:100%;
  background:#F0F8FF;
  border-radius:10px;
  box-shadow:0 0 40px -10px #4682B4;
  margin:calc(50vh - 220px) auto;
  padding:30px 30px;
  max-width:calc(100vw - 40px);
  box-sizing:border-box;
  font-family:'Montserrat',sans-serif;
  position:relative}
label{
  font-family:'Montserrat',sans-serif;font-size: 15px;
  color:#778899;
}
legend{
  font-family:'Montserrat',sans-serif;
  color: #708090;
}
input{width:100%;padding:10px;box-sizing:border-box;background:#B0C4DE;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;font-size: 15px; transition:all .3s;border-bottom:2px solid #F0FFFF}
input:focus{border-bottom:2px solid #4682B4}

button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #4682B4;background:0;color:#4682B4;cursor:pointer;transition:all .3s}
button:hover{background:#B0C4DE;color:#fff}
