@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6e94bc;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow:
            0 3.5px 3.6px rgba(0, 0, 0, 0.084),
            0 9.6px 10px rgba(0, 0, 0, 0.12),
            0 23.2px 24.1px rgba(0, 0, 0, 0.156),
            0 77px 80px rgba(0, 0, 0, 0.24);

}

.sidebar a{
    display: block;
    padding: 20px 30px;
    font-size: 15px;
    text-decoration: none;
    color: #101013;
}

.sidebar a:hover{
    color: #fff;
    transition: 0.4s;
}

.sidebar .close{
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 20px;
}

.slide a{
    float: left;
    margin-right: 20px;
    color: #2c2c32;
    font-size: 30px;
}

#content{
    transition: margin-left 0.5s;
    overflow: hidden;
    width: 100%;
    margin-left: 200px;
}

.header{
    width: 100%;

    height: 50px;
    position: relative;
    padding: 5px;
    box-shadow:
            0 2.4px 6.4px rgba(0, 0, 0, 0.121),
            0 6.5px 17.7px rgba(0, 0, 0, 0.173),
            0 15.7px 42.5px rgba(0, 0, 0, 0.21),
            0 52px 141px rgba(0, 0, 0, 0.31);

}

.header h2{
    position: relative;
    padding-left: 40px;
    padding-bottom: 30px;
}

.wrapper .main_content{
    padding-top: 20px;
}
