@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: #f3f5f9;
}

.header{
    width: 100%;
    height: 50px;
    position: relative;
    padding: 5px;
    box-shadow:
            0 3.5px 3.6px rgba(0, 0, 0, 0.084),
            0 9.6px 10px rgba(0, 0, 0, 0.12),
            0 23.2px 24.1px rgba(0, 0, 0, 0.156),
            0 77px 80px rgba(0, 0, 0, 0.24);
}
.header h2{
    padding-left: 150px;
    padding-top: 10px;

}

.mapdiv{
    width: 100%;
    margin: auto;
}

.mapdiv :hover{
    fill:#2E2EFE;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 150px;
    height: 100%;
    background: #ffffff;
    padding: 30px 0;
}
.sidebar{
    position: relative;
    box-shadow:
            0 3.5px 3.6px rgba(0, 0, 0, 0.084),
            0 9.6px 10px rgba(0, 0, 0, 0.12),
            0 23.2px 24.1px rgba(0, 0, 0, 0.156),
            0 77px 80px rgba(0, 0, 0, 0.24);
}
.sidebar:before,
.sidebar:after{
    content: '';
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0,0,0,8);
    top: 50%;
    bottom: 0;
    left: 10px;
    border-radius:100px;
}

.wrapper .sidebar h2{
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
    color: rgba(7, 7, 7, 0.49);
    display: block;

}

.wrapper .sidebar ul li a .fas{
    width: 25px;

}

.wrapper .sidebar ul li:hover{
    background: #0becd9;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
}
